# Created by .ignore support plugin (hsz.mobi)
### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.gitignore
.idea/.gitignore
.idea/amazingly_advanced.iml
.idea/misc.xml
.idea/modules.xml
CMakeLists.txt
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/tmp/
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/tmp/
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/CMakeTmp/
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/amazingly_advanced.dir/CXX.includecache
cmake-build-debug/CMakeFiles/amazingly_advanced.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/amazingly_advanced.dir/build.make
cmake-build-debug/CMakeFiles/amazingly_advanced.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/amazingly_advanced.dir/depend.internal
cmake-build-debug/CMakeFiles/amazingly_advanced.dir/depend.make
cmake-build-debug/CMakeFiles/amazingly_advanced.dir/flags.make
cmake-build-debug/CMakeFiles/amazingly_advanced.dir/link.txt
cmake-build-debug/CMakeFiles/amazingly_advanced.dir/progress.make
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/Makefile
cmake-build-debug/amazingly_advanced
cmake-build-debug/amazingly_advanced.cbp
cmake-build-debug/cmake_install.cmake
main.cpp
src/
